
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #F5F5F5;
    font-family: 'Poppins', sans-serif;
}

html {
    font-size: 62.5%;
}

.container {    
    width: 100%;
    padding: 0 50px 20px;
    margin: 0 auto;
}

/* Header Style  */

.header {
    background-color: #000;
    height: 100vh;
}

.navbar {
    display: flex;
    justify-content: space-between;
    padding: 20px 20px 0px 20px;
}

.header-social-icon {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 15px;
}

.header-social-icon svg {
    height: 3rem;
    width: 3rem;
    fill: #898686;
    cursor: pointer;
}

.header-social-icon svg:hover {
    fill: #fff;
    transition: 0.1s linear;
}

.navigation {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 20px;
}

.navigation li {
    list-style: none;
}

.navigation li a {
    text-decoration: none;
    text-transform: lowercase;
    color: #898686;
    font-size: 2.5rem;
    font-weight: 80;
}

.navigation li a:hover {
    color: #fff;
    transition: 0.1s linear;
}


.work-imgs img {
    width: 100%;
}

.work-img{ 
    flex: 1;
    width: 100%;
    height: 80%;
    border-radius: 70px;
    padding-left: 50px;
}


.splide__slide img {
    width: 30%;
    height: auto;
  }
  

  .splide__slide img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

  .more_button{
    background-color: #2e3152;
    font-family: 'Poppins', sans-serif;
     margin: 20px 20px 20px 0px;
     padding: 12px 30px;
     text-decoration: none;
     color: white;
  }

  .more_button a{
    color:white;
  }

  .more_button::after{
    background-color: #2e3152;
    font-family: 'Poppins', sans-serif;
     margin: 20px 20px 20px 0px;
     text-decoration: none;
     color: white;
  }

.gif_s{
    flex: 1;
    width:90%;
    height: 70%;
    border-radius: 50px;
    box-shadow: 0 8px 8px -4px rgb(67, 67, 67);

}

.gif_s2{
    flex: 1;
    width: 90%;
    height: 70%;
    border-radius: 50px;
    box-shadow: 0 8px 8px -4px rgb(200,47,44);
}


#projdeets{
    display: flex;
    padding: 50px 50px 10px 50px;
}

.less_button{
    background-color: #2e3152;
    font-family: 'Poppins', sans-serif;
    border: none;
    color: white;
    padding: 12px 30px;
    text-align: center;
    font-size: 16px;
    margin: 2px 1px;
    cursor: pointer;
    margin: 20px 20px 20px 50px;
}

.hero {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    color: #fff;
    height: calc(100vh - 200px);

}

.hero-title {
    font-weight: 300;
    font-size: 6.5rem;
    margin-left: 50px;
   
}

.animated-text {
    font-size: 3.5rem;
    font-weight: 90;
    font-style: italic;
    margin-left: 50px;

}



.animated-text::after {
    content: "|";
    display: inline;
    animation: blink 1s infinite;
  }
  
  @keyframes blink {
    0% {
      opacity: 1;
    }
    50% {
      opacity: 0;
    }
    100% {
      opacity: 1;
    }
  }

/* Work Style  */

#xcel{
    display: flex;
    flex-direction: row;
    align-items: flex-start;
}

.work-section {
    background-color: #fff;
    min-height: 0px;
}

.work-title {
    padding-block:0px;
    padding-left: 50px;
    margin-top: 75px;
    font-weight: 400;
    color: #000;
    font-size: 4.3rem;
    text-shadow: #000;
}

.work {
    display: none;
    flex-direction: row;
    gap: 60px;
}

.work1 {
    display: flex;
    flex-direction: row;
    gap: 220px;
    margin-bottom: 70px;
}

.work2 {
    display: flex;
    flex-direction: row-reverse;
    gap: 220px;
    margin-bottom: 200px;
    margin-top: 50px;
}


.page-footer{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
        width: 100%;
        background-color: #F5F5F5;
        font-family: 'Poppins', sans-serif;
        font-size: 1.5em;
        margin-bottom: 20px;
        color: black;
        text-align: center;
}

.swiper-wrapper{
    display:none;
}

.work-desc {
    flex: 1;
    padding-top: 80px;
    padding-left: 50px;
}

.work-imgs {
    flex: 1;
}

.work-desc h3 {
    font-size: 2em;
    color: #807E7E;
    font-weight: 300;
    
}

.work-desc h2 {
    font-size: 4.5rem;
    font-weight: 150;
    color: #000;
    margin-top: 5px;
}

.work-desc p {
    font-size: 2rem;
    font-weight: 190;
    color: #000;
    margin-bottom: 20px;
    margin-top: 10px;
}

.protolink a:link{
    color: #807E7E;
}
.protolink a:visited {
    color: #807E7E;
}
.protolink a:hover{
    color: black;
}


/* .process-btn {
    outline: none;
    border: none;
    background-color: #D9D9D9;
    font-family: 'Poppins', sans-serif;
    padding-block: 10px;
    padding-inline: 30px;
    color: #000;
    display: flex;
    align-items: center;
    border-radius: 13px;
    gap: 15px;
    font-size: 2.4rem;
    cursor: pointer;
}

.process-btn .arrow-icon {
    width: 40px;
    height: 11px;
} */

span.swiper-pagination-bullet.swiper-pagination-bullet-active {
    background-color: #B5AFAF;
    opacity: 1;
    width: 20px;
    height: 20px;
}

span.swiper-pagination-bullet.swiper-pagination-bullet-active,
.swiper-pagination-clickable .swiper-pagination-bullet {
    cursor: pointer;
    width: 20px;
    height: 20px;
    background-color: #c2c2c2;
}

.swiper-pagination {
    display: none;
    bottom: 0 !important;
    margin-bottom: 20px !important;
}

.swiper {
    padding-bottom: 0px 
}

#more {
    display:none;
}

/* mobile */
@media only screen and (max-width: 600px) {
    html {
        font-size: 40%;
    }

    .container {
        padding: 0 50px 20px;
    }

    /* .process-btn {
        padding-block: 7px;
        padding-inline: 16px;
    } */

    .protolink{
        margin-bottom: 10px !important;
        font-size: 2.3rem !important;
    }

    span.swiper-pagination-bullet.swiper-pagination-bullet-active {
        background-color: #B5AFAF;
        opacity: 1;
        width: 16px;
        height: 16px;
    }

    span.swiper-pagination-bullet.swiper-pagination-bullet-active,
    .swiper-pagination-clickable .swiper-pagination-bullet {
        cursor: pointer;
        width: 16px;
        height: 16px;
        background-color: #c2c2c2;
    }
}


/* mobile/tablet */
@media only screen and (min-width: 600px) {
    html {
        font-size: 65%;
    }

    .container {
        padding: 0 35px;
    }
}


/* desktops*/
@media only screen and (min-width: 1600px) {
    .container {
        padding: 0 50px 20px;
    }

    .work {
        flex-direction: row;
    }

    .swiper {
        padding-bottom: 100px !important;
    }

    html {
        font-size: 50%;
    }

    html {
        font-size: 62.5%;
    }

    .swiper-wrapper {
        margin-bottom: 50px !important;
    }

    .swiper-pagination {
        bottom: 100px !important;
    }

    .hero-title{
        margin-left: 150px;
    }

    .animated-text{
        margin-left: 150px;
    }

}